%ul.project-list
  - @projects.each do |project|
    %li
      = link_to project.urlbase do
        %h3
          = project.name

        .meta
          %p
            Created
            = time_tag project.created_at, format: '%B %d, %Y'
          %p
            Last updated
            = distance_of_time_in_words_to_now project.updated_at
            ago

