-#
  Show the user's dashboard.
  Currently only has the upload image form
  and the path to the user's repo

- content_for :title do
  Dashboard

= render 'shared/glimageshow'

.center
  #dashboard
    = render 'projectlist'
          
  #sidebar
    %h2 Toolbox
    .button
      = link_to 'New Project', new_project_path
    .button
      = link_to 'New Glitterpost', new_glitterpost_path
        

