- content_for :title do
  Dashboard

%article.active
  %header
    %h1 GlitterGallery
    %h2 The open source pixelpub where awesome designers hangout.
  = render 'shared/messages'
  %section
    - if current_user.projects.empty?
      .guide
        %p Welcome aboard! Without wasting any further time, let's get you started!
        %form{ action: '/projects/new' }
          %input{ type: 'submit', value: 'Create first project!' }
    - else
      .guide
        %p Looks like you're going great,
          congrats! Get noticed by updating your profile.
        %form{ action: '/users/edit' }
          %input{ type: 'submit', value: 'Get me started!' }
  -#
    %section
      -if current_user.doodles.empty?
        .guide
          %p Welcome aboard! Without wasting any further time, let's get you started!
          %form{ action: '/doodles/new' }
            %input{ type: 'submit', value: 'Create first doodle!' }
    %section
      -if current_user.glitterposts.empty?
        .guide
          %p Welcome aboard! Without wasting any further time, let's get you started!
          %form{ action: '/glitterposts/new' }
            %input{ type: 'submit', value: 'Write first Glitterpost!' }
