<%= form_tag(session_url) do %>

  <p>
    <label for="openid_identifier">OpenID:</label>
    <%= text_field_tag "openid_identifier" %>
  </p>

  <p>
    <%= submit_tag 'Sign in', :disable_with => "Signing in" %>
  </p>
<% end %>
