language: ruby
cache: bundler
sudo: false
rvm:
  - 2.2.0
before_script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate
script:
  - bundle exec rubocop --config .rubocop.yml app/models/ app/controllers/ app/mailers/ spec/
  - RAILS_ENV=test xvfb-run bundle exec rspec
