.comment#currentuser
  .comment-meta
    = avatar(User.find(comment.user_id).email)
    %p.author
      = User.find(comment.user_id).username
  .comment-time
    %p.time
      = distance_of_time_in_words_to_now comment.created_at
      ago
  .comment-body
    = comment.body