- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML)
%div
  %header
    %h1
      /= avatar(comment.user.email)
      = comment.user.username
  %article
    %p 
    = raw markdown.render comment.body
  %footer
    = distance_of_time_in_words_to_now comment.created_at
    ago
    - if user_signed_in? && comment.user.id == current_user.id
      = link_to "Delete", 
                         comment_path(comment.id),  
                         method:"delete",                                                 
                         data: { confirm: "Are you sure?" }


