.comment
  .comment-meta
    = avatar(comment.email)
    %p.author
      = comment.author
  .comment-body
    = comment.body
  .comment-time
    %p.time
      = distance_of_time_in_words_to_now comment.created_at
      ago

