:plain
  $('.comments .showcomments').html("#{escape_javascript(
    render partial: 'comments/comment',
    collection: @comments
  )}");
  $('textarea').val('').trigger('input');
  $(".comment_submit").css({"margin": "1.25em 0"});
  $(".expandingArea.active textarea").css({"padding-bottom": "22px"});
