#glimage_tools
  %ul
    %li
      = private_msg @glimage
    %li
      = link_to 'Update image', edit_glimage_path(:id => @glimage.id)
      = # We would want to be able to view the history of a specific blob.
      = # link_to 'View commit history', '#'
