%div
  %div.active
    - if current_user.nil? || !current_user.follow?(@user)
      =link_to follow_user_path(@user), method: :post, remote: false do
        %p Follow
        %p= @user.username
    - else
      =link_to unfollow_user_path(@user), method: :delete, remote: false do
        %p Unfollow
        %p= @user.username

  %div
    %a{href: "#"}
      %p
        #{@user.followers.count}
    %a{href: "#"}
      %p
        Followers
  %div
    %a{href: "#"}
      %p
        #{@user.followings.count}
    %a{href: "#"}
      %p
        Following
