%section.toolbar

  %a{ href: "/#{@user.username}" }
    %div{ data: 'userpage' }
      %p
        Userpage
  - if user_signed_in? && @user.id == current_user.id

    %a{ href: '/notifications' }
      %div{ data: 'notifications' }
        %p
          Notifications

  - else
    %div{ data: 'activity' }
      %p
        Activity
  %a{ href: "/#{@user.username}/projects" }
    %div{ data: 'projects' }
      %p
        Projects
  -#
    %div{ data: 'glitterposts' }
      %p
        Glitterposts
    %div{ data: 'badges' }
      %p
        Badges
