#wrap
  %ul#glittercarousel.jcarousel-skin-tango
    %li
      #new_project_link
        = link_to 'New Project', new_project_path
    - glimages.each do |i|
      %li 
        = link_to url_for(i) do
          %img{:src => i.thumbnail('imagepath')}
      
