#wrap
  %ul#glittercarousel.jcarousel-skin-tango
    %li
      #new_project_link
        %a{:href=>new_project_path}
          .plus
            +
          New Project
    - glimages.each do |i|
      %li 
        = link_to url_for(i) do
          %img{:src => i.thumbnail('imagepath')}
      
