#wrap
  %ul#glittercarousel.jcarousel-skin-tango
    %li
      #new_project_link
        %a{:href=>new_project_path}
          .plus
            +
          New Project
- # FIXME
- # Once the Glimage model drop isn't causing any ugly consequences,
- # fix this so it works normally. 

      
