%li
  = link_to url_for(glimage) do
    %img{:src => glimage.thumbnail('imagepath')}
  .meta
    %p
      From 
      = project_for glimage
      by
      = user_for glimage
    %p
      Last updated
      = distance_of_time_in_words_to_now glimage.updated_at
      ago
    

