- content_for :header do
  %h1
    = image_tag 'logo.png', :alt => 'Glitter Gallery'

.center
  %ul#glimages
    - @glimages.each do |glimage|
      = render 'glimage', :glimage => glimage

  = will_paginate @glimages
