- unless project.root?
  %span.parent_project
    from
    = link_to project.parent.user.username, "/#{project.parent.user.username}"
    :escaped
      /
    - if project.parent.deleted?
      %span.deleted_node
        = project.parent.name
    - else
      = link_to project.parent.name, project.parent.urlbase