- if @directories.empty? && @images.empty?
  .guide
    %p There are no files here.
- else
  %div
    - @directories.each do |dir|
      %div
        %p{ title: dir[:name] }
          = link_to project_tree_path(@project, @oid, dir[:dest]) do
            %img{ src: '/directory.png' }
            %span.name
              = dir[:name]

    - @images.each do |image|
      %div
        %p{ title: image[:name] }
          = link_to render_show_image(@project, image[:name]),
            @project.image_for(image[:name], 'show', false),
            id: image[:name],
            class: 'swipebox'
          %span.name
            = link_to  image[:name], project_blob_path(@project, @oid, image[:dest])
