.center
  - @bloblist.each do |blob, commit|
    %img{:src => "data:image/svg+xml;base64,#{Base64.encode64(raw blob.data)}"}
    = commit.author
    = commit.message
    = distance_of_time_in_words_to_now commit.date
    ago
    %hr