$('#normal').append("#{j render(partial: 'projects_list', locals: { projects: @projects })}");
initstars();
imageLoad();
- if @projects.next_page
  $('.pagination').replaceWith('#{escape_javascript will_paginate(@projects)}');
  $('.pagination').hide();
- else
  $('.pagination').remove();
