%br
.center
  - @pulls.each do |pull|
    .button
      = link_to pull.id, File.join('pull',pull.id.to_s)
      = pull.desc
    First opened 
    = distance_of_time_in_words_to_now pull.created_at
    ago
    %br
    The pull request is now
    = pull.status
    %br
    %hr
    %br


