%p You can sign in via the following accounts
%br
%div
  -for identity in @identities
    = identity.provider
    = identity.uid
    = link_to "Delete", identity_path(identity.id), method:"delete", data: { confirm: "Are you sure?"}
%br
%p You may link these accounts also

-for method in @allowedmethods
  =link_to(method.to_s.capitalize,"/auth/#{method.to_s}")
