%h2
  My Projects
%ul#myprojects
  - @projects.each do |p|
    %li
      %h3
        = link_to p.name, url_for(p)
      .project-thumb
        = link_to url_for(p) do
          %img{:src => p.glimages.first.thumbnail('imagepath') }
      .meta
        Created
        -# um, this evalutes backwards, i'm not sure why
        - if p.created_at > 1.year.ago
          = time_tag p.created_at, :format=>'%B %d'
        - else 
          = time_tag p.created_at, :format=>'%B %d, %Y'
        %br
        Last updated
        =distance_of_time_in_words_to_now p.updated_at
        ago

      
