- if @project.project_members
  %header
    %h1
      People who make your project awesome:
  %div
    %table
      - @project.project_members.each do |project_member|
        %tr
          %td
            = project_member.member.username
          %td
            = project_member.role
          %td
            = link_to 'Remove',
                project_member_path(project_member.id),
                method: 'delete',
                data: { confirm: 'Are you sure?' }
