%p
  Find and add more members to your team:
= form_tag user_project_project_members_path(@project.user, @project), method: 'get' do
  = text_field_tag :find, params[:find]
  = submit_tag 'Find', name: nil
