@import '_var';

@media screen and (min-width: 0em){
	body{
		.wrapper{
			article{
				section{
					div.feed{
					  div{
					  	@include cf();
					  	margin: 0.5em auto;
					  	header{
					  		margin: 0;
					  		border-style: none;
					  		font-weight: 700;
					  	}
						  article{
						  	p{
						  		font-size: 0.9em;
						  		a{
						  			color: $map_blue;
						  			font-weight: 300;
						  			text-decoration: none;
						  		}
						  		a:hover{
						  			text-decoration: underline;
						  		}
						  	}
						  }
						  footer{
						  	@include span(1);
						  	p{
							  	color: gray;
							  	font-size: 0.8em;
						  	}
						  }
						}
					}
				}
			}
		}
 	}
}

@media screen and (min-width: 20em){


				.feed{
					ul{
			  		padding-top: 1em;
			  		padding-left: 10%;
			  		padding-right: 10%;
					}
				}
	
}
