@media screen and (min-width: 0em){
	body{
		.wrapper{
			nav{
				@include cf();
				position: fixed;
			  width: 100%;
			  background-color: $map_blue;
			  padding: 0.25em 0;
			  div{
					img{
						@include border-radius(0.1em);
						max-width: 1.3em;
						height: auto;
					}
			  }
				div.right{
					display: none;
				}
			}

		}
	}
	
}


@media screen and (min-width: 60.063em){
  body{
  	.wrapper{
			nav{
				@include cf();
				div.left{
					@include col(3/4);
				}
				div.right{
					display: initial;
					@include col(1/4);
					a{
						text-decoration: none;
						color: $geometry_gray;
					}
					a:hover{
						font-weight: 700;
					}
					img{
						padding-left: 2em;
					}
					span{
						text-align: right;
						color: $geometry_gray;
						font-weight: 300;
						font-height: 1.2em;
					}
				}
			}
  	}
  }
}
