@media screen and (min-width: 0em){
  .wrapper{
    article.forgot_password{
      section.options{
        padding: 0;
        background-color: $geometry_gray;
        div{
          padding: 0;
          margin: 0 auto;
          text-align: left;
          p{
            a{
              color: $map_blue;
            }
            a:hover{
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
