@import '_var';

@mixin bar-styling{
  font-size: 0.9em;
  padding: 0;
  @include cf();
  div{
    padding: 1em 0;
    text-align: center;
    font-size: 0.8em;
    a{
      text-decoration: none;
      color: $map_blue;
    }
  }
  .active, div:hover{
      background-color: $dark_geometry_gray;
      font-weight: 700;
    a{
      color:$map_blue;
    }
  }
}


@media screen and (min-width: 0em){
  body{
  	.wrapper{
			article.project{
				section.toolbar{
					@include bar-styling;
				}
				section.action{
				  @include bar-styling;
					div{
						background-color: $geometry_gray;
					}
				}
				section.album{
					div{
						@include cf();
						div{
							margin-bottom: 1em;
					  	box-shadow:0 0 0.5em 0 $dark_geometry_gray;
					  	background-color: white;
							p{
								img{
									max-width: 100%;
									height: auto;
								}
							}
						}
					}
				}
				section.image{
					p{
						img{
							max-width: 100%;
							height: auto;
						}
					}
				}
			}
  	}
  }

}


@media screen and (min-width: 20em){
	body{
		.wrapper{
			article.project{
		    section.toolbar{
				  position: -webkit-sticky;
				  position: -moz-sticky;
				  position: -ms-sticky;
				  position: -o-sticky;
				  top: 5px;
		      div{
		        @include span(1/5);
		        text-align: center;
		        border-bottom: solid 0.1em $dark_geometry_gray;
		      }
		      .active, div:hover{
		        border-bottom: solid 0.1em $map_blue;
		      }
		    }
		    section.action{
					border-bottom: solid 0.1em $dark_geometry_gray;
		  		div{
		    		@include span(1/4);
		      	text-align: center;  		
		  		}
		    }
			}
		}
	}
}



@media screen and (min-width: 40.063em){
	body{
		.wrapper{
			article.project{
				section.album{
					div{
						div{
							@include col(1/3, $cycle:3);
						}
					}
				}
			}
		}
	}

}
