@mixin bar-styling{
  font-size: 0.9em;
  padding: 0;
  @include cf();
  div{
    padding: 1em 0;
    text-align: center;
    font-size: 0.8em;
    a{
      text-decoration: none;
      color: $map_blue;
    }
  }
  .active, div:hover{
      background-color: $dark_geometry_gray;
      font-weight: 700;
    a{
      color:$map_blue;
    }
  }
}


@media screen and (min-width: 0em){
  body{
  	.wrapper{
			article.project{
			  div.breadcrumb{
			    margin-top: 0.1em;
          font-weight: bold;
          a{
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
          }
			  }
				section.album{
					div{
						@include cf();
						div{
							margin-bottom: 1em;
					  	box-shadow:0 0 0.5em 0 $dark_geometry_gray;
					  	background-color: white;
							p{
								img{
									max-width: 100%;
									height: auto;
								}
								span.name{
								  display: block;
								  box-shadow: 0 0 0.3em 0.2em $dark_geometry_gray;
								}
								a{
								  color: $map_blue;
								  text-decoration: none;
								}
								text-align: center;
                word-wrap: break-word;
							}
						}
					}
					div.photo{
						p{
							img{
								max-width: 100%;
								height: auto;
							}
						}
					}
				}
				section.list{
				  div{
				    padding: 1em;
				    box-shadow:0 0 0.3em 0 $dark_geometry_gray;
				    a{
				      font-size: 1.2em;
				      color: $map_blue;
				      background-color: $geometry_gray;
				    }
				    a:hover{
				      background-color: $dark_geometry_gray;
				      font-weight: 700;
				    }
				  }
				}
			}
  	}
  }
}



@media screen and (min-width: 40.063em){
	body{
		.wrapper{
			article.project{
				section.album{
					div{
						div{
							@include col(1/3, $cycle:3);
						}
					}
				}
			}
		}
	}

}

.nested_projects {
  margin-left: 30px;
}

.parent_project {
  color: #808080;
  font-size: 0.7em;
}

.current_node {
  font-weight: bold;
}

.deleted_node {
  color: #7F0000;
}

.button_to {
  input[type="submit"]{
    @include center;
    width: 40%;
  }
}
