@mixin bar-styling{
  font-size: 0.9em;
  padding: 0;
  @include cf();
  div{
    padding: 1em 0;
    text-align: center;
    font-size: 0.8em;
    a{
      text-decoration: none;
      color: $map_blue;
    }
  }
  .active, div:hover{
      background-color: $dark_geometry_gray;
      font-weight: 700;
    a{
      color:$map_blue;
    }
  }
}


@media screen and (min-width: 0em){
  body{
  	.wrapper{
			article.project{
				section.album{
					div{
						@include cf();
						div{
							margin-bottom: 1em;
					  	box-shadow:0 0 0.5em 0 $dark_geometry_gray;
					  	background-color: white;
							p{
								img{
									max-width: 100%;
									height: auto;
								}
							}
						}
					}
				}
				section.image{
					p{
						img{
							max-width: 100%;
							height: auto;
						}
					}
				}
			}
  	}
  }
}



@media screen and (min-width: 40.063em){
	body{
		.wrapper{
			article.project{
				section.album{
					div{
						div{
							@include col(1/3, $cycle:3);
						}
					}
				}
			}
		}
	}

}
