@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import 'jeet/index';


// Variables come here
$map_blue: #141823;
$geometry_gray: #f9fafb;
$dark_geometry_gray: #f1f1f1;
$light_green: #c1f0c1;
$font: 'Open Sans', sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}