// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Problems to fix:
//Fixed-- 1. The comment wraps around the photo. Fix that.
// 2. Make the add new comment box appear to the right.
// 3. Add a small comment line for signed in users under the thread.
// 4. Make the comment area expand as the user enters another line. Shrink original box - it's ugly.
// 5. Not a CSS fix, but put a limit to length of comment and username.
// 6. When people don't have a Gravatar ID, the formatting is screwed up. Fix that.

@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

#comments {

  width: 560px;
  margin: 10px 60px 0px 60px;
  display: inline;
  float: left;
  clear: left;

  .comment {
    clear: both;
    display: block;
    border-top: 0.5px dashed #bf8730;
    border-bottom: 0.5px dashed #bf8730;
    background-color: #ffc873;
  }

  #author{
    background-color: #ffb440;
  }

  #currentuser{
    background-color: #ffdb73;
  }

  .comment-meta {
    color: #a66400;
    img {
      float: left;
    }
    p.author {
      font-size: 15px;
      font-weight: bold;
      font-family: Verdana;
      margin-top: 2px;
      overflow: hidden;
    }
  }

  .comment-body {
    overflow: hidden;
    font-size: 14px;
    font-family: Arial;
    line-height: 110%;
  }
  .comment-time {
    overflow: hidden;
    font-size: 12px;
    font-family: Verdana;
    color: #a66400;
  }

  .submit{
    visibility: hidden;
  }
}


