// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Cookie);

/** background gradient **/
body {
	background: #f6f4c2 no-repeat; /* Old browsers */
	background: #f6f4c2 -moz-linear-gradient(top, #ffffff 0%, #f6f4c2 41%, #f6f4c2 100%) no-repeat; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(41%,#f6f4c2), color-stop(100%,#f6f4c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f4c2 41%,#f6f4c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f4c2 41%,#f6f4c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f4c2 41%,#f6f4c2 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#f6f4c2 41%,#f6f4c2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f4c2',GradientType=0 ); /* IE6-9 */
}

body { width: 100%; }

input {
  width: 95%;
  height: 33px;
  font-size:16px;
  font-weight:normal;
  padding-left:7px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;
} 

input[type="submit"] {
  margin-top: 10px;
  width: 31%;
  background: #ff59cb;
  color: white;
  margin-left: 66%;
  font-weight: bold;
  font-family: Cookie, sans-serif;
  font-size: x-large;
  letter-spacing: -0.05em
}

input[type="submit"]:hover {
  background: #d533de;
  cursor: pointer;
}

label[for="user_password"],
label[for="user_email"],
label[for="user_password_confirmation" {
  display: none;
}

form {
  margin-left: 36% !important;
}

.focusField {
  border: 1px solid #ff59cb;
  background: white;
  color: black;
  outline: none;
  box-shadow: 0 0 5px rgba(255,89,203,1);
  -webkit-box-shadow: 0 0 5px rgba(255,89,203,1);
  -moz-box-shadow: 0 0 5px rgba(255,89,203,1);
}

.idleField {
  background: #fff8f4;
  color: #999;
  border: solid 1px #ffc8a6;
}

body, p, a, div, form {
  font-family: sans-serif !important;
}

input[type='checkbox'],
.login-sublinks {
  width: 15px;
  margin-top: 6px;
  vertical-align: middle;
  background-color: transparent;
  line-height: normal !important;
}

input[type='checkbox'],
label[for='user_remember_me'] {
  cursor: pointer;
}

label[for='user_remember_me']:hover {
  color: #ff59cb;
}

label[for='user_remember_me'],
.login-sublinks {
  font-size: x-small;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.login-sublinks a {
  text-decoration: none;
  color: #777;
  vertical-align: middle;
  margin-left: 5px;
}

.login-sublinks span:before {
  content: '\2022';
  margin-left: 5px;
}

.login-sublinks a:hover {
  text-decoration: underline;
  color: #FF59CB;
}

#sidebar a {
  color: #ff59cb;
  font-size: small;  
}

#sidebar h2 {
  color: #7d737b;
  font-weight: bold;
  font-family: Cookie, sans-serif;
  font-size: x-large;
  letter-spacing: -0.05em
}


nav {
  background: #7d737b;
  height: 42px;
  box-shadow: 0 0 10px rgba(125,115,123,1);
  -webkit-box-shadow: 0 0 10px rgba(125,115,123,1);
  -moz-box-shadow: 0 0 10px rgba(125,115,123,1);
}

.welcome {
  color: white;
  font-family: Cookie, sans-serif !important;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.05em
}

nav .logo {
  color: white;
  font-family: Cookie, sans-serif !important;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: -0.05em
}

nav div {
  margin: 0px !important;
  padding: 7px;
}

nav .right {
  text-align: right;
}

nav .right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

nav .right a:hover {
  text-decoration: underline;
  color: #FF59CB;
}

nav div {
  line-height: 26px;
}

#upload_widget {
  position: relative;
  width: 400px;
  height: 30px;
}

#project_image_file {
  position: absolute;
  top: 0;
  right: -10px;
  opacity: 0;
  -moz-opacity: 0;
  z-index: 2;
  width: 100%;
}

form .fakeupload {
  background: url('/assets/button-browse.png') no-repeat 70% 50%;
}

form .fakeupload input {
  width: 200px;
}

