@import 'style';

@media screen and (min-width: 0em){
	.album{
		background-color: white;
		@include center;
		div{
			padding: 1em;
			p{
				@include span(0.5);
				@include center;
				background-color: $dark_geometry_gray;
				width: 95%;
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
	.image{

	}
}

@media screen and (min-width: 40.063em){

	.album{
		div{
			@include span(1/3);
		}
	}
	.image{
		div{
			@include span(1);
		}
	}

}
