@import 'functions';
@import 'icons';
@import 'grid';

.projects {
  .toolbar {
    .draw {
      @include icon-pen;
    }
    .files {
      @include icon-plus;
    }
    .fork {
      @include icon-fork;
    }
    .pull-request {
      @include icon-arrow-down;
    }
    .history {
      @include icon-history;
    }
    .sparkleshare {
      @include icon-share;
    }
    .edit {
      @include icon-pencil;
    }
    .upload {
      @include icon-arrow-up;
    }
  }

  .meta {
    color: #999;
    font-size: 80%;

    p {
      margin: 5px 0 2px 58px;
    }

    img {
      float: left;
      box-shadow: 0px 1px 1px transparent-black(0.1);
    }
  }

  .images {
    margin: 30px 0 30px;
    width: 100%;

    li {
      display: inline-block;
      width: 31%;
      margin: 0 1% 2%;

      img {
        box-shadow: 0px 1px 1px transparent-black(0.3);
        width: 100%;
        background: #ddd;
      }
    }
  }
}

img.big {
  margin: 0 auto;
  max-width: 100%;
  display: block;
  background: #ddd;
  box-shadow: 0 1px 1px transparent-black(.3);
}

.history {
  li {
    clear: both;
    overflow: auto;
    margin: 10px;
  }

  .meta {
    float: left;
  }

  .commit {
    float: left;
    margin: 0 10px;
    padding: 14px 15px 15px;
    background: white;
    box-shadow: 0 1px 1px transparent-black(.1);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 10px solid;
      border-color: transparent transparent white transparent;
      top: -20px;
      left: 0;
    }
  }
}

