.openid{
  background-image: url('openid.gif');
  background-repeat: no-repeat;
  padding-left: 20px;
  width: 300px;
  alignment: center;
  font-size:15px;color:gray;
  background-position:left center;
}