/**
 * Application skin
 * ----------------
 *
 * Application wide styles for basic elements
 * and shared layouts
 *
 **/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,700|Flamenco);
@import 'vars';
@import 'functions';
@import 'grid';

//// Body ////
html {
  background: $body-background;
}

body {
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-family: $text-font;
  font-weight: normal;
  min-width: 100%;
  min-height: 100%;
}

//// Headlines ////
h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
}

h1 {
  font-family: $header-font;
  font-size: 250%;
  font-weight: normal;
}

h2 {
  font-family: $header-font;
  font-size: 200%;
  font-weight: normal;
}

h3 {
  font-family: $header-font;
  font-size: 175%;
  font-weight: normal;
}

h4 {
  font-size: 150%;
  font-family: $text-font;
  font-weight: 600;
}

h5 {
  font-size: 100%;
  font-family: $text-font;
  font-weight: 700;
}

a {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: inherit;
  }
}

//// Messages ////
.message {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 1px 1px transparent-black(0.2);

  &.notice {
    background: #bdb;
  }

  &.error {
    background: #dbb;
  }
}

//// Form elements ////
label {
  font-weight: 600;
}

textarea,
input {
  border: 1px solid #ddd;
  color: #222;
  display: block;
  margin: 2px 0 10px;

  &:focus {
    border: 1px solid $link-color;
  }
}

input[type=submit],
.button,
button {
  border-radius: 2px;
  border: 1px solid #222;
  padding: 2px 10px 4px;
  background: linear-gradient(#666, #333);
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 0 black;

  &:focus,
  &:hover {
    border: 1px solid $link-color;
    background: linear-gradient(#999, #666);
  }

  &:active {
    background: linear-gradient(#666, #999);
  }
}

//// Heading and navigation ////
body > header {
  overflow: hidden;

  .logo {
    margin: 10px 2%;
    float: left;
    width: 46%;

    a {
      color: white;
      text-decoration: none;
      text-shadow: 1px 1px 0 transparent-black(.5);

      &:visited {
        color: white;
      }
    }
  }

  nav {
    float: right;
    text-align: right;
    width: 46%;
    margin: 10px 2% 0 0;

    a {
      font-weight: 700;
      color: white;
      margin: 10px 2%;
      text-shadow: 1px 1px 0 transparent-black(.8);

      &.logout {
        font-weight: 400;
      }
    }
  }
}

//// Content ////
.content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 1% 2% 4%;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 2px transparent-black(.5);
  @include clearfix;

  color: black;

  header {
    margin: 10px 0 20px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 #e0e0e0;
    @include clearfix;

    h1 {
      font-size: 235%;
      float: left;
    }

    .toolbar {
      float: right;
      text-align: right;

      li {
        display: inline-block;

        a {
          display: block;
          padding: 10px;
        }
      }
    }
  }

  a {
    color: $link-color;
  }
}
