%section#user_options{ data: { polling_time: Glitter::Application.config.polling_time } }
  %header
    = current_user.username.upcase
  %ul
    %li
      %a{ href: '/users/edit' } Settings
    %li
      %a{ href: '/notifications' }
        %span.count
          - if @count && @count > 0
            = @count
        Notifications
